<!DOCTYPE html>
<html ng-app="calendar">
	<head>
		<title>JS15: Infinite Agenda</title>
		<link rel="stylesheet" href="main.css"/>
		<link rel="stylesheet" href="normalize.css"/>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js"></script>
		<script type="text/javascript" src="main.js"></script>
	</head>
	<body ng-controller="calendRoller">
		<ul>
			<li class="dates" ng-repeat="newDate in dates">
				<h4>{{ newDate.date | date:"MM/dd/yyyy" }} <button ng-click="makeAppointment(newDate)">Make Appointment</button></h4>
				<form ng-show="newDate.clickAppointment">
					<input placeholder="what's happening?" ng-model="newDate.appointment">
					<input type='submit' value='Submit' ng-click="subApp(newDate)">
				</form>	
				<ul>
					<li ng-repeat="appointment in newDate.appointments">{{appointment}}</li>
				</ul>	
			</li>
		</ul>
		<button ng-click="maxNum()">More Days...</button>
	</body>
</html>